.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  align-items: center;
  margin-top: 36px;
}

.main-nav .h1 {
  margin: 0;
  padding: 0;
  font-size: clamp(2rem, 3.2vw, 3.5rem);
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

.nav-links {
  display: flex;
  gap: 64px;
  list-style: none;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.link-item {
  color: white;
  text-decoration: none;
  position: relative;
}

.tab.link-item::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.tab.link-item.catalog-underline::after {
  background-color: #b8d8be;
}

.tab.link-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cart-icon {
  width: 35px;
  height: 35px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(155deg)
    brightness(104%) contrast(101%);
}

.icon-catalog {
  filter: invert(91%) sepia(29%) saturate(203%) hue-rotate(70deg)
    brightness(90%) contrast(86%);
}

.cart-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: relative;
}

.quantity-cart-display {
  position: absolute;

  border-radius: 100%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2px;
  right: -5px;
}

.cart-quantity-home {
  background-color: white;
  color: rgb(0, 0, 0);
}

.cart-quantity-catalog {
  background-color: rgb(27, 90, 28);
  color: white;
}
